@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/inter');

                

html {
  background: #0E0E0F;
  color: #D9E7EB;
  font-family: 'Inter', sans-serif;
}

.points-card-bg {
  background: radial-gradient(100% 100% at 50% 0%, #14191B 0%, #131314 100%);
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.3);
}

.cryptoMain-card-bg {
  background: radial-gradient(100% 100% at 50% 0%, #14191B 0%, #131314 100%);
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.3);
}

.firstWin-button-bg { 
  background: radial-gradient(97.81% 91.25% at 13.75% 8.75%, rgba(42, 245, 152, 0.2) 0%, rgba(0, 158, 253, 0.2) 100%);
}

.firstWin-button-gradient { 
  background: radial-gradient(97.81% 91.25% at 13.75% 8.75%, rgba(42, 245, 152, 100) 0%, rgba(0, 158, 253, 100) 100%);
}

.howBuildBus-card-1 {
  background: radial-gradient(100% 100% at 50% 0%, #14191B 0%, #131314 100%);
  box-shadow: 0px 50px 50px -30px #000000, 0px 0px 100px rgba(173, 255, 39, 0.2);
}

.howBuildBus-card-2 {
  background: radial-gradient(100% 100% at 50% 0%, #14191B 0%, #131314 100%);
  box-shadow: 0px 50px 50px -30px #000000, 0px 0px 100px rgba(27, 159, 255, 0.2);
}

.howBuildBus-card-3 {
  background: radial-gradient(100% 100% at 50% 0%, #14191B 0%, #131314 100%);
  box-shadow: 0px 50px 50px -30px #000000, 0px 0px 100px rgba(244, 209, 21, 0.2);
}

.onePager-card {
  background: radial-gradient(100% 100% at 50% 0%, #14191B 0%, #131314 100%), rgba(217, 231, 235, 0.02);
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.3);
}

.onepager-big-shadow {
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.3);
}

.onepager-dot-shadow {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.text-gradient {
  font-weight: 600;
  background: linear-gradient(90deg,#F0B90B 0%,#D358A9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-box-decoration-break: clone;
}