@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/inter');

                

html {
  background: #0E0E0F;
  color: #D9E7EB;
  font-family: 'Inter', sans-serif;
}

.points-card-bg {
  background: radial-gradient(100% 100% at 50% 0%, #14191B 0%, #131314 100%);
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.3);
}

.cryptoMain-card-bg {
  background: radial-gradient(100% 100% at 50% 0%, #14191B 0%, #131314 100%);
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.3);
}